<div class="logo" style="
background: white;
color: black;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
">
  <a  class="simple-text logo-mini">
    <div class="logo-img">
      
    </div>
  </a>
  <a style="color: black;"  class="simple-text logo-normal">
    BACKOFFICE 
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
  </ul>
</div>
